<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= title %></title>
</head>
<body>
    <div class="container">
    <h1>URL Shrinker</h1>
    <from action="" method="POST">
        <label for="fullURL"> Enter a URL to shorten </label>
        <input type="url" name="fullURL" id="fullURL" placeholder="Enter a URL to shorten">
        <input type="submit" value="Shorten">

    </from>

    <table>
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>https://www.google.com</td>
                <td>abc123</td>
                <td>0</td>
            </tr>


        </tbody>
    </table>

</div>
</body>
</html>